@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>você não tem permissão para acessar está funcionalidade, <a asp-controller="Home" asp-action="Index">Clique aqui para voltar a tela inicial.</a></p>