@model RedefinirSenhaModel

@{
    Layout = "_LayoutDeslogado";
    ViewData["title"] = "Redefinir senha";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}



    <form asp-controller="Login" asp-action="EnviarLinkParaRedefinirSenha" method="post">
  <div class="mb-3">
    <label for="Login" class="form-label">Login</label>
    <input type="text" asp-for="Login" class="form-control" id="Login">
        @Html.ValidationMessageFor(x => x.Login)
  </div>

  <div class="mb-3">
    <label for="Email" class="form-label">E-mail</label>
    <input type="text" asp-for="Email" class="form-control" id="Email">
        @Html.ValidationMessageFor(x => x.Email)
  </div>


  <button type="submit" class="btn btn-primary btn-entrar">Redefinir a senha</button> <!--Criei a classe 'btn-entrar' para poder customizar o botão da forma que eu quiser no CSS-->
    <a class="btn btn-secondary btn-block btn-entrar" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
</form>
